@model UI.Models.SidebarViewModel


@{
    ViewData["Title"] = "Account Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IgnoreBody();
}


@* Top Nav Bar*@

<div id="account-home-navbar-wrapper">
    <nav class="navbar navbar-light bg-dark">
        <a href="#" class="btn btn-success" id="menu-toggle">Toggle Menu</a>
    </nav>
</div>


<div id="account-home-wrapper">

    @* Side Bar *@

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#" id="Home" class="">Home</a>
            <li>
                <a href="#" id="Import" class="">Import Data</a>
            </li>
            <li>
                <a href="#" id="Search" class="">Search</a>
            </li>
            <li>
                <a href="#" id="Charts" class="">Charts</a>
            </li>
            <li>
                <a href="#" id="Settings" class="">Settings</a>
            </li>
            <li>
                <a href="#" id="Logout" class="">Logout</a>
            </li>
        </ul>
    </div>


    @* Page Content *@


    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="partial-view"></div>
                </div>
            </div>
        </div>
    </div>

</div>
@*Scripts *@


@section Scripts {

    <script src="https://kit.fontawesome.com/695f26b262.js" crossorigin="anonymous"></script>

    <script>


        (function () {
            $(".partial-view").load("/Account/GetView", { viewName: "_AccountIndex" })
        });

        $(".sidebar-nav > li > a").click(function () {
            switch ($(this).attr('id')) {
                case "Home":
                    $(".partial-view").load("/Account/GetView", { viewName: "_AccountIndex" })
                    break;
                case "Import":
                    $(".partial-view").load("/Account/GetView", { viewName: "_ImportDataStats" })
                    break;
                case "Search":
                    $(".partial-view").load("/Account/GetView", { viewName: "_SearchData" })
                    break;
                case "Logout":
                    break;
            }
        });

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#account-home-wrapper").toggleClass("menuDisplayed");
        });



    </script>
}


