@model UI.Models.SidebarViewModel


@{
    ViewData["Title"] = "Account Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IgnoreBody();
}

@* Top Nav Bar*@

<div id="account-home-navbar-wrapper">
    <nav class="navbar navbar-light bg-dark">
        <a href="#" class="btn btn-success" id="menu-toggle">Toggle Menu</a>
    </nav>
</div>


<div id="account-home-wrapper">

    @* Side Bar *@

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#" id="Home" class="">Home</a>
            <li>
                <a href="#" id="Import" class="">Import Data</a>
            </li>
            <li>
                <a href="#" id="Search" class="">Search</a>
            </li>
            <li>
                <a href="#" id="Settings" class="">Settings</a>
            </li>
            <li>
                <a href="#" id="Logout" class="">Logout</a>
            </li>
        </ul>
    </div>


    @* Page Content *@


    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="partial-view"></div>
                </div>
            </div>
        </div>
    </div>

</div>
@*Scripts *@


@section Scripts {

    <script src="https://kit.fontawesome.com/695f26b262.js" crossorigin="anonymous"></script>

    <script>
    

        (function() {
            $(".partial-view").load("/Account/GetView", {viewName: "_AccountIndex"})
        });

        $(".sidebar-nav > li > a").click(function() {
            switch ($(this).attr('id')) {
                case "Home":
                    $(".partial-view").load("/Account/GetView", {viewName: "_AccountIndex"})
                    break;
                case "Import":
                    $(".partial-view").load("/Account/GetView", {viewName: "_ImportData"})
                    break;
                case "Search":
                    $(".partial-view").load("/Account/GetView", {viewName: "_SearchData"})
                    break;
                case "Logout":
                    break;
            }
        });

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#account-home-wrapper").toggleClass("menuDisplayed");
        });

         $('.filterable .btn-filter').click(function () {
                var $panel = $(this).parents('.filterable'),
                    $filters = $panel.find('.filters input'),
                    $tbody = $panel.find('.table tbody');
                if ($filters.prop('disabled') == true) {
                    $filters.prop('disabled', false);
                    $filters.first().focus();
                } else {
                    $filters.val('').prop('disabled', true);
                    $tbody.find('.no-result').remove();
                    $tbody.find('tr').show();
                }
            });

            $('.filterable .filters input').keyup(function (e) {
                /* Ignore tab key */
                var code = e.keyCode || e.which;
                if (code == '9') return;
                /* Useful DOM data and selectors */
                var $input = $(this),
                    inputContent = $input.val().toLowerCase(),
                    $panel = $input.parents('.filterable'),
                    column = $panel.find('.filters th').index($input.parents('th')),
                    $table = $panel.find('.table'),
                    $rows = $table.find('tbody tr');
                /* Dirtiest filter function ever */
                var $filteredRows = $rows.filter(function () {
                    var value = $(this).find('td').eq(column).text().toLowerCase();
                    return value.indexOf(inputContent) === -1;
                });
                /* Clean previous no-result if exist */
                $table.find('tbody .no-result').remove();
                /* Show all rows, hide filtered ones */
                $rows.show();
                $filteredRows.hide();
                /* Prepend no-result row if all rows are filtered */
                if ($filteredRows.length === $rows.length) {
                    $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="' + $table.find('.filters th').length + '">No result found</td></tr>'));
                }
            });

    </script>
}


