@model UI.Models.LoginViewModel
@{
    
    ViewData["Title"] = "Home Page";

}
    <div>
        <button type="submit" class="btn btn-outline-primary" onclick="window.location='@Url.Action("UserRegistration", "Home")'">Create New User</button>
    </div>
    


