
@{
    ViewData["Title"] = "AccountHome";
    Layout = "~/Views/Shared/_SidenavLayout.cshtml";
}

@section Workspace {

    
    <h1>Generic Welcome Message</h1>

}

<div class="col-md-6 py-1">
    <div class="card">
        <div class="card-body">
            <canvas id="chLine"></canvas>
        </div>
    </div>
</div>



@section Scripts {

<script>

</script>
}