
@{
    ViewData["Title"] = "AccountHome";
    Layout = "~/Views/Shared/_SidenavLayout.cshtml";
}

@section Workspace {

    
    <h1>Generic Welcome Message</h1>

}




@section Scripts {

<script>

</script>
}