
@{
    ViewData["Title"] = "Account Home";
}

<h1>User Home</h1>

<div class="row">
    <button class="btn btn-outline-primary" onclick="window.location='@Url.Action("PersonOperationsDemo", "User")'">get all persons test</button>
</div>

<div class="row">
    <div class="col">
        <partial name="FileUpload.cshtml">
    </div>
</div>

