@model UI.Models.ImportDataViewModel
@{
    ViewData["Title"] = "Import Data";
    Layout = "~/Views/Shared/_SidenavLayout.cshtml";
    var NumOfRecords = Model.UploadStats.NumberOfRecords;
}


@section Workspace {
    <h1>Import Data</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="FileUpload">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <input class="input-group-text" type="submit" id="FileUploadButton" value="Upload" />
            </div>
            <div class="custom-file">
                <input type="file" name="files" class="custom-file-input" id="inputGroupFile01" multiple onChange="event.srcElement.files[0].name">
                <label class="custom-file-label" for="inputGroupFile01" id="FileNameLabel"></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                Retrieve Data After Upload
            </div>
            <div class="col-md-2">
                @Html.RadioButtonFor(model => model.ViewData, true) Yes
                @Html.RadioButtonFor(model => model.ViewData, false) No

            </div>
        </div>

        @if (NumOfRecords > 0) {
    <div class="notice notice-success result-message-box">
        <strong>Notice</strong> Completion Time: @DateTime.Now (@NumOfRecords Records Retrieved)
    </div>
                            

                    
        }

    </form>
}

    @if (Model.UploadStats.NumberOfRecords > 0 && Model.ViewData == true) {

        <partial name="_TableView" for="PersonList" />

    }


    @section Scripts  {
        <script>

            $("#FileUploadButton").click(function () {
                $("FileNameLabel").val("TEST");

            })


        </script>

    }
